@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model TbItem

@section Styles {
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Admin/assets/vendors/dropify/dropify.min.css">
    <!-- End plugin css for this page -->
    <link rel="stylesheet" href="~/Admin/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/Admin/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">

}


<div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Add/Update element</h3>
            </div>

    <form class="  forms-sample" asp-controller="Items"
    asp-action="Save" asp-area="Admin" enctype="multipart/form-data" method="post" id="myForm">
        <input asp-for="ItemId" type="hidden" />
        <input asp-for="CreatedBy" type="hidden" />
        <input asp-for="CreatedDate" type="hidden" />
        <input asp-for="UpdatedBy" type="hidden" />
        <input asp-for="UpdatedDate" type="hidden" />
        <input asp-for="ImageName" type="hidden" />

        @* <input asp-for="GPUId" type="hidden" />
        <input asp-for="HardDiskId" type="hidden" />
        <input asp-for="ItemTypeId" type="hidden" />
        <input asp-for="ProcessorId" type="hidden" />
        <input asp-for="RAMId" type="hidden" />
        <input asp-for="ScreenResolutionId" type="hidden" />
        <input asp-for="OsId" type="hidden" /> *@


      <div class="row">

            <div class="col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Item info</h4>
                   
                        <div class="form-group">
                            <label for="InputItemName">@ResAdmin.lblItemName</label>
                            <input asp-for="ItemName" type="text" class="form-control" id="InputItemName" placeholder="Item name">
                            <span asp-validation-for="ItemName" class="text-danger"></span>
                      </div>
             
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">@ResAdmin.lblCategoryName</label>
                            <select asp-for="CategoryId" id="selectCategoryName"
                                    asp-items=@(new SelectList (ViewBag.categoriesList,"CategoryId","CategoryName",ViewBag.SelectedCategoryId))
                                    class="form-control form-control-lg" id="exampleFormControlSelect1">
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label for="InputItemType">@ResAdmin.lblItemType</label>
                            <select  asp-for="ItemTypeId" id="selectItemType"
                                    asp-items=@(new SelectList (ViewBag.ItemTypesList,"ItemTypeId","ItemTypeName"))
                                    class="form-control form-control-lg" id="selectItemType">
                            </select>
                            <span asp-validation-for="ItemTypeId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="InputOs">@ResAdmin.lblOs</label>
                            <select  asp-for="OsId" id="selectOs"
                                    asp-items=@(new SelectList (ViewBag.OsList,"OsId","OsName"))
                                    class="form-control form-control-lg" id="selectOs">
                            </select>
                            <span asp-validation-for="OsId" class="text-danger"></span>
                        </div>
                     
                        <div class="form-group">
                            <label for="InputSalesPrice">@ResAdmin.lblPurchasePrice</label>
                           
                              <input asp-for="SalesPrice"  type="number" class="form-control" id="InputSalesPrice" placeholder="Sales orice">  
                            <span asp-validation-for="SalesPrice" class="text-danger"></span> 

                        </div>

                        <div class="form-group">
                            <label>Image upload</label>
                            <input type="file" name="files" id="image_input" class="file-upload-default">
                            <span class="text-danger field-validation-valid" asp-validation-for="ImageName"></span>
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                                <span class="text-danger field-validation-valid" asp-validation-for="ImageName"></span>
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>

                  </div>
                </div>
              </div>
      
              <div class="col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Item info</h4>
                      
                         <div class="form-group">
                            <label for="InputGPU" >@ResAdmin.lblGpu</label>
                            <select asp-for="GPUId"   id="selectGPU"
                                    asp-items=@(new SelectList (ViewBag.GPUsList,"GPUId","GPUName"))
                                    class="form-control form-control-lg" id="selectGPU">
                            </select>
                            <span asp-validation-for="GPUId" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label  for="InputProcessor" >@ResAdmin.lblProcessor</label>
                            <select   asp-for="ProcessorId" id="selectProcessor"
                                    asp-items=@(new SelectList (ViewBag.ProcessorsList,"ProcessorId","ProcessorName"))
                                    class="form-control form-control-lg" id="selectProcessor">
                            </select>
                            <span asp-validation-for="ProcessorId" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label  for="InputHardDisk" >@ResAdmin.lblHardDisk</label>
                            <select asp-for="HardDiskId"   id="selectHardDisk"
                                    asp-items=@(new SelectList (ViewBag.HardDisksList,"HardDiskId","HardDiskName"))
                                    class="form-control form-control-lg" id="selectHardDisk">
                            </select>
                            <span asp-validation-for="HardDiskId" class="text-danger"></span>
                        </div>    
                         <div class="form-group">
                            <label  for="InputRAM">@ResAdmin.lblRamSize</label>
                            <select  asp-for="RAMId" id="selectRAM"
                                    asp-items=@(new SelectList (ViewBag.RAMsList,"RAMId","RAMSize"))
                                    class="form-control form-control-lg" id="selectRAM">
                            </select>
                            <span asp-validation-for="RAMId" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label  for="InputScreenResolution">@ResAdmin.lblScreenResolution</label>
                            <select asp-for="ScreenResolutionId"  id="selectScreenResolution"
                                    asp-items=@(new SelectList (ViewBag.ScreenResolutionsList,"ScreenResolutionId","ScreenResolutionName"))
                                    class="form-control form-control-lg" id="selectScreenResolution">
                            </select>
                            <span asp-validation-for="ScreenResolutionId" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label for="InputScreenSize">@ResAdmin.lblScreenSize</label>
                            <input asp-for="ScreenSize" type="number" class="form-control" id="InputScreenSize" placeholder="Screen Size">
                            <span asp-validation-for="ScreenSize" class="text-danger"></span>
                        </div>

                        @if (Model.ImageName != null)
                        {
                            <div class="col-sm-6" id="display_image">
                                <img value="@Model.ImageName" src="/Uploads/Items/@Model.ImageName" 
                                id="uploaded_image" style="width:95%; height:95%;" alt="Uploaded Image">
                                <p>Current image. Choose a new file to replace it.</p>
                            </div>
                        }
                  </div>
                </div>
              </div>
            
              <button type="submit"   class="btn btn-gradient-primary me-2">Submit</button>
            
              <a class="btn btn-dark" asp-controller="Items" asp-action="List" asp-area="admin">Cancel</a>

        </div>
    </form>
          </div>
          <!-- content-wrapper ends -->




@section Scripts {
    <!-- Plugin js for this page -->
    <script src="~/Admin/assets/vendors/dropify/dropify.min.js"></script>
    <!-- End plugin js for this page --> <!-- Custom js for this page -->
    <script src="~/Admin/assets/js/dropify.js"></script>
    <!-- End custom js for this page -->
    <script src="~/Admin/assets/js/file-upload.js"></script>
    <script src="~/Admin/assets/js/typeahead.js"></script>
    <script src="~/Admin/assets/js/select2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Admin/CustomJavascript/HelperJavaScript.js"></script>

    <script>
        
        // Call the function on document ready or any specific event
        document.addEventListener("DOMContentLoaded", function () {
            initializeImagePreview();
        });




    </script>
}